body{

                  font-family: 'Righteous', cursive;
                  align-self: center;
                  background-image: url("file:///C:/Users/dell/Desktop/Codinza/DAY%201%20OFFINE/1_eXIBeNlLhz4Pe6vDrYkXLQ.png");
                  background-repeat: no-repeat;
                  background-size: cover;
                  font-weight: 30px;

                  background-color: aqua;
                  color: grey;
                  font-size: 30px;
    
}   
.abc{

                 font-family: 'Gloria Hallelujah', cursive;
                 background-color:pink;
                 color: yellow;
                 font-size: 30px;
        
}   
p{
                 font-family: 'Gloria Hallelujah', cursive;
                 background-color: blue;
                  color: yellow;
                  font-size: 30px;
    
    
    border-style: double;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 150px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-top: 40px;
}
                  
            
            h1{
                  font-family: 'Gloria Hallelujah', cursive;
                  text-align: center;
                  padding: 25px;
                  background-color:green;
                  color: white;
            }
            h2{

                  background-color: purple;
                  color: white;
}
            h3{
      background-color: orange;
      color: white;
}
      