.bodyy{
background-color:#D2CECE;
}
.whole{
	display: inline-block;
	background-color: white;
	margin-left: 300px;
    margin-right: 300px;
    border-radius: 30px;
    padding:50px;
}
.a{
	background-color: #57B846;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 30px;
    padding: 10px;
    color: white;
}
.user{
	background-color: white;
	text-align: center;
	margin-left:300px;
	margin-right:300px; 
	padding-top: 20px;

}
.passw{
	text-align: center;
}