.headings{
background-color:aqua;
color: orange;
font-style:font-family: 'Srisakdi', cursive;

}
.text{
	background-image: url("https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg");
font-family: 'ZCOOL QingKe HuangYou', cursive;
font-size: 50px;
background-repeat: no-repeat;
background-size: cover;

}