.body{
background-color:#d9dce0; 
}
.heading{
	background-color:#57B846;
	font-size: 30px;
	color: white;
	text-align: center;
	padding: 10px;
	font-family: arial;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.total{
	background-color: white;
	margin-left: 430px;
	margin-right: 430px;
	border-radius:30px; 


}
.Username{
color:#57B846;
text-align: center;
padding-top: 20px;
background-color: #d9dce0;
padding-bottom: 10px;
padding-right: 80px;
margin-left: 95px;
margin-right:100px;
margin-top: 20px;
border-radius: 50px;
padding-top:10px;

}
.password{
margin-top: 20px;
text-align: center;
}
.as{
	color: #D2CECE;
}
.df{
	color: #57B846;
}
.button{
	color: white;
	background-color: #57B846;
	border-radius: 20px;
	padding-left:60px;
	padding-right:60px;
	padding-top:5px;
	padding-bottom:5px;
}
.jk{
	
	text-align: center;
	 
}
.f1{
margin-top: 220px;
 
 text-align: center;
 color: #d9dce0;
}
.f2{

	color: #57B846;
font-weight: bold;
text-align: center;
padding-bottom: 20px;
font-family:arial;

}
.forgot{
	text-align: center;
	padding-left: 100px;
}